#sketch {
    margin: auto;
    height: 720px;
    width: 720px;
    border: 1px solid black;
}

.sketchBorderDiv {
    outline: 1px solid black;
    float: left;        
}   

.sketchNoBorderDiv {
    float: left;
}

#inputSize {
    border-radius: 5px;
}