#sketch {
    margin: auto;
    height: 720px;
    width: 720px;
    border: 1px solid black;
}

.sketchHorizontalDiv {
    outline: 1px solid black;
    float: left;        
}

#inputSize {
    border-radius: 5px;
}